<mat-toolbar>
  <span class="text-center">Proibido Chorar Tattoo</span>

  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/agendar">Agendar</button>
      <button mat-button (click)="login()" >login</button>
      <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">deslogar</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>



<mat-menu x-position="before" #menu="matMenu">
<button mat-menu-item routerLink="/">Home</button>
<button mat-menu-item routerLink="/agendar">Agendar</button>
<button mat-menu-item (click)="onLogout()" *ngIf="isLoggedIn$ | async">deslogar</button>
<!--<button md-menu-item>Help</button>-->
</mat-menu>
